* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:visited {
  font-family: 'Open Sans';
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #d33;
}
.header {
  padding: 15px 15px 5px 15px;
}
h2 {
  font: 20px 'Open Sans';
  color: #555;
}
.header h1 {
  margin: 0;
  padding: 0;
  font: 20px 'Open Sans';
  color: #d33;
  float: left;
}
.header nav {
  float: right;
  vertical-align: middle;
  padding-top: 4px;
}
.header nav a {
  margin-left: 20px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#edit-script, #input, #output, #stack, #vars, button.action {
  color: #333;
  font: 24px Monaco, 'Ubuntu Mono', Consolas, monospace;
}
.program-halted, .program-exception {
  color: #353;
  font: 20px 'Open Sans';
  background: #8e3;
  line-height: 40px;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  padding: 0 25px;
}
.program-exception {
  color: #755;
  background: #faa;
}
.dismiss {
  color: #555;
  padding: 0 15px 0 10px;
  cursor: pointer;
}
button.action {
  color: #fff;
  background: #59f;
  padding: 0px 20px;
  margin: 0;
  border: 1px solid #59f;
  height: 40px;
  width: 120px;
  font: 20px 'Open Sans';
  vertical-align: top;
  margin-right: 5px;
}
button.action:hover {
  background: #26e;
  border: 1px solid #26e;
}
button.action:disabled {
  background: #ddd;
  border: 1px solid #ddd;
  color: #999;
}
#input:disabled {
  background: #f3f3f3;
  color: #999;
}
#editor {
  width: 100%;
  height: 350px;
  display: block;
}
#edit-script {
  display: block;
  width: 100%;
  height: 100%;
}
.script-container {
  margin-right: 400px;
  height: 350px;
}
#input {
  height: 40px;
  width: 500px;
  padding: 0px 3px;
  margin: 0;
  margin-right: 5px;
}
#edit-script, #input, #output {
  border: 1px solid #bbb;
}
#editor {
  position: relative;
}
.ace_scrollbar {
  overflow-y: auto !important;
}
.ace_gutter-cell {
  color: #333;
}
.ace_gutter {
  background: #fff !important;
  border-right: 1px solid #ccc;
}
.ace-tm .ace_gutter-active-line {
  background: #eee !important;
}
.debugging .ace_content {
  background: #f3f3f3;
}
.debugging .ace_gutter {
  background: #f3f3f3 !important;
}
#editor #stack, #editor #vars {
  background: #fff;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  display: inline-block;
  color: #555;
  overflow: auto;
  border: 1px solid #ccc;
}
#editor #stack {
  right: 200px;
  width: 201px;
}
#editor #vars {
  right: 0;
  border-left: 0;
}
#stack .title, #vars .title {
  color: #555;
  font: 18px 'Open Sans';
  padding: 8px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#stack ul, #vars ul {
  font-size: 16px;
  list-style-type: none;
  padding: 2px 5px;
  margin: 0;
}
#stack li, #vars li {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
#vars .key {
  color: #999;
}
#stack .empty, #vars .empty {
  color: #aaa;
  padding: 15px 0;
  font: 16px 'Open Sans';
  text-align: center;
}
#output {
  overflow: auto;
  margin-top: 10px;
  white-space: pre;
  height: 300px;
  width: 100%;
  padding: 0 2px;
}
#error-message {
  margin-top: 10px;
  background: #faa;
  padding: 7px 7px;
  font: 22px 'Open Sans';
  color: #755;
}
.control {
  margin-top: 10px;
}
.content {
  padding: 10px;
}
.exception .active-command {
  background: #faa;
  outline: 1px solid #faa;
}
.halted .active-command {
  background: #8e3;
  outline: 1px solid #8e3;
}
.active-command {
  position: absolute;
  background: #ff0;
  outline: 1px solid #ee0;
}
::-webkit-input-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
:-moz-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
::-moz-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
:-ms-input-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
#output.empty {
  font-family: 'Open Sans';
  color: #aaa;
}
.copy {
  padding-top: 9px;
  padding-right: 5px;
  font-size: 15px;
  float: right;
}
.copy a {
  color: #333;
}
.copy a:hover, .copy a.zeroclipboard-is-hover {
  color: #d33;
}
.copy i {
  color: #666;
}
#copy-button {
  margin-left: 5px;
}
.examples {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.examples h2 {
  text-align: center;
  margin-bottom: 60px;
}
.example {
  width: 50%;
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 40px;
  vertical-align: top;
}
.example .name a {
  float: right;
}
.example .clear {
  clear: both;
  border-top: 1px solid #ddd;
}
.example h3 {
  float: left;
  font-family: 'Open Sans';
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.example .code {
  white-space: pre-wrap;
  padding-top: 15px;
  font: 16px Monaco, 'Ubuntu Mono', Consolas, monospace;
}
.example .description {
  padding-top: 15px;
}
.example .load {
  color: #d33;
}
/* "Hide" the placeholder text when the input is disabled. */
:disabled::-webkit-input-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled:-moz-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled::-moz-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled:-ms-input-placeholder {
  color: rgba(243, 243, 243, 0);
}
