* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:visited {
  font-family: 'Open Sans';
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #59f;
}
.header {
  background: #55555c;
  padding: 10px 10px;
}
h2 {
  font: 22px 'Open Sans';
  color: #555;
}
.header h1 {
  margin: 0;
  padding: 0;
  font: 22px 'Open Sans';
  color: #ccc;
  float: left;
}
.header nav {
  float: right;
  vertical-align: middle;
  padding-top: 4px;
  margin-right: 10px;
}
.header nav a {
  margin-left: 15px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#edit-script, #input, #output, #stack, #vars, button {
  color: #333;
  font: 26px Monaco, 'Ubuntu Mono', Consolas, monospace;
}
.program-halted, .program-exception {
  color: #353;
  font: 22px 'Open Sans';
  background: #8e3;
  line-height: 40px;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  padding: 0 25px;
}
.program-exception {
  color: #755;
  background: #faa;
}
.dismiss {
  color: #555;
  padding: 0 15px 0 10px;
  cursor: pointer;
}
button {
  color: #fff;
  background: #59f;
  padding: 0px 20px;
  margin: 0;
  border: 1px solid #59f;
  height: 40px;
  width: 120px;
  font: 22px 'Open Sans';
  vertical-align: top;
  margin-right: 5px;
}
button:hover {
  background: #26e;
  border: 1px solid #26e;
}
button:disabled {
  background: #ddd;
  border: 1px solid #ddd;
  color: #999;
}
#input:disabled {
  background: #f3f3f3;
  color: #999;
}
#editor {
  width: 100%;
  height: 350px;
  display: block;
}
#edit-script {
  display: block;
  width: 100%;
  height: 100%;
}
.script-container {
  margin-right: 400px;
  height: 350px;
}
#input {
  height: 40px;
  width: 500px;
  padding: 0px 3px;
  margin: 0;
  margin-right: 5px;
}
#edit-script, #input, #output {
  border: 1px solid #bbb;
}
#editor {
  position: relative;
}
.debugging .ace_content {
  background: #f3f3f3;
}
#editor #stack, #editor #vars {
  background: #fff;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  display: inline-block;
  color: #555;
  overflow: auto;
  border: 1px solid #ccc;
}
#editor #stack {
  right: 200px;
  width: 201px;
}
#editor #vars {
  right: 0;
  border-left: 0;
}
#stack .title, #vars .title {
  color: #666;
  font: 20px 'Open Sans';
  background: #eee;
  padding: 4px 6px;
}
#stack ul, #vars ul {
  font-size: 18px;
  list-style-type: none;
  padding: 2px 5px;
  margin: 0;
}
#stack li, #vars li {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
#vars .key {
  color: #999;
}
#stack .empty, #vars .empty {
  color: #bbb;
  padding: 15px 0;
  font: 16px 'Open Sans';
  text-align: center;
}
#output {
  overflow: auto;
  margin-top: 10px;
  white-space: pre;
  height: 300px;
  width: 100%;
  padding: 0 2px;
}
#error-message {
  margin-top: 10px;
  background: #faa;
  padding: 7px 7px;
  font: 24px 'Open Sans';
  color: #755;
}
.control {
  margin-top: 10px;
}
.content {
  padding: 10px;
}
.exception .active-command {
  background: #faa;
  outline: 1px solid #faa;
}
.halted .active-command {
  background: #8e3;
  outline: 1px solid #8e3;
}
.active-command {
  position: absolute;
  background: #ff0;
  outline: 1px solid #ee0;
}
::-webkit-input-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
:-moz-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
::-moz-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
:-ms-input-placeholder {
  font-family: 'Open Sans';
  color: #aaa;
}
#output.empty {
  font-family: 'Open Sans';
  color: #aaa;
}
/* "Hide" the placeholder text when the input is disabled. */
:disabled::-webkit-input-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled:-moz-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled::-moz-placeholder {
  color: rgba(243, 243, 243, 0);
}
:disabled:-ms-input-placeholder {
  color: rgba(243, 243, 243, 0);
}
