<!DOCTYPE html>
<html>
<head>
  <title>TRUE: A FALSE Interpreter</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/angular.min.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/filters.js" type="text/javascript"></script>
  <script src="/js/script-controller.js" type="text/javascript"></script>
  <script src="/js/examples-controller.js" type="text/javascript"></script>
  <script src="/js/true.js" type="text/javascript"></script>
  <script src="/js/parser.js" type="text/javascript"></script>
</head>
<body ng-app="TRUE" ng-controller="ScriptCtrl">
<div class="content">
  <form>
    <textarea ng-show="!debugging" id="script" placeholder="Script"><%= script || "1[2[+.]!]!" %></textarea>
    <div id="debug-panel" ng-if="debugging" ng-class="{ exception: exception, halted: halted }">
      <div id="stack">
        <div class="title">Stack</div>
        <ul>
          <li ng-if="stack.length == 0" class="empty">(empty)</li>
          <li ng-repeat="item in stack | reverse track by $index">{{item | toString}}</li>
        </ul>
      </div>
      <div id="vars">
        <div class="title">Vars</div>
        <ul>
          <li ng-if="vars | empty" class="empty">(empty)</li>
          <li ng-repeat="(k,v) in vars track by $index"><span class="key">{{k}}:</span> <span class="value">{{v | toString}}</span></li>
        </ul>
      </div>
      <div class="source"><span ng-bind-html="script | highlight:command"></span></div>
    </div>
    <div class="control">
      <input id="input" type="text" ng-disabled="debugging" value="<%= input || '' %>" placeholder="Input" />
      <button id="run" ng-if="!debugging" ng-click="runScript()">Run</button>
      <button id="stop" ng-if="debugging" ng-click="stopScript()">Stop</button>
      <button id="debug" ng-if="!debugging" ng-click="debugScript()">Debug</button>
      <button id="step" ng-if="debugging" ng-disabled="exception || halted" ng-click="stepScript()">Step</button>
      <button id="go" ng-if="debugging" ng-disabled="exception || halted" ng-click="resumeScript();">Go</button>
      <div class="halted" ng-show="halted">Program complete.</div>
      <div class="error" ng-show="exception">Program error.</div>
    </div>
  </form>
  <div id="output">{{output}}</div>
  <div ng-if="error != null" id="error-message">{{error}}</div>
  <div ng-controller="ExamplesCtrl">
    <ul>
      <li ng-repeat="example in examples">
        <a ng-click="load(example)">{{example.name}}</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
