<!DOCTYPE html>
<html>
<head>
  <title>TRUE: A FALSE Interpreter</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <script src="/js/bundle.js" type="text/javascript"></script>
</head>
<body ng-app="TRUE" ng-controller="ScriptCtrl">
<div class="header group">
  <h1>TRUE: A FALSE Interpreter</h1>
  <nav>
    <a href="#reference">Reference</a>
    <a href="#examples">Examples</a>
    <a href="http://esolangs.org/wiki/FALSE">Esolangs</a>
    <a href="http://en.wikipedia.org/wiki/FALSE">Wikipedia</a>
    <a href="http://strlen.com/false-language">Origin</a>
  <nav>
</div>
<div class="content">
  <form>
    <div id="editor">
      <div class="script-container" ng-class="{ debugging: debugging, exception: exception, halted: halted }">
        <div id="edit-script">"Hello, "[^$~][,]#"!"</div>
      </div>
      <div id="stack">
        <div class="title">Stack</div>
        <ul>
          <li ng-if="stack.length == 0" class="empty">(empty)</li>
          <li ng-repeat="item in stack | reverse track by $index">{{item | toString}}</li>
        </ul>
      </div>
      <div id="vars">
        <div class="title">Vars</div>
        <ul>
          <li ng-if="vars | empty" class="empty">(empty)</li>
          <li ng-repeat="(k,v) in vars track by $index"><span class="key">{{k}}:</span> <span class="value">{{v | toString}}</span></li>
        </ul>
      </div>
    </div>
    <div class="control">
      <input id="input" type="text" ng-disabled="debugging" ng-model="scriptService.input" value="world" placeholder="Input" />
      <button id="run" ng-if="!debugging" ng-click="runScript()">Run</button>
      <button id="stop" ng-if="debugging" ng-click="stopScript()">Stop</button>
      <button id="debug" ng-if="!debugging" ng-click="debugScript()">Debug</button>
      <button id="step" ng-if="debugging" ng-disabled="exception || halted" ng-click="stepScript()">Step</button>
      <button id="go" ng-if="debugging" ng-disabled="exception || halted" ng-click="resumeScript();">Go</button>
      <div class="program-halted" ng-show="halted">Complete</div>
      <div class="program-exception" ng-show="exception">Error</div>
      <a ng-href="/?s={{encodedScript}}&i={{encodedInput}}">Permalink</a>
    </div>
    <div ng-if="error != null" id="error-message"><span class="dismiss" ng-click="hideError()">&times;</span>{{error}}</div>
    <div id="output" ng-class="{ empty: !output }">{{output || 'Output'}}</div>
  </form>
</div>
</body>
</html>
